<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eas-account-loader/src/main/scala/com/timetrade/eas/tools/accountloader/EasAccountLoader.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.timetrade.eas.tools.accountloader.EasAccountLoader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--csv-file accounts_certs.csv --url http://localhost:8184"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eas-account-loader"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:eas-account-loader/src/main/scala/com/timetrade/eas/tools/accountloader}"/>
</launchConfiguration>
